@import "../utils/parameters";
@import "../utils/mixins";

.items {
    padding: 10rem 0;

    &__row {
        display: flex;
        justify-content: space-between;
    }
}

.item {

    width: 33.3333%;
    padding: 0 1.5rem;
    margin: 0 -1.5rem;

    &__img {
        margin: 0 0 2.9rem;
    }

    &__title {
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 130%;
    letter-spacing: 0.02rem;
    color: $c-text;
    margin: 0 0 1.3rem;
    }

    &__description {
        font-size: 1.6rem;
        line-height: 150%;
        color: $c-text2;
        max-width: 30rem;
    }
}