section.first-section
    div.container
        .first-section__content
            h1.first-section__title
                span.primary Order ahead
                | and earn rewards for every purchase
                span.orange .
            a(href="#").first-section__link
                span Discover how
                img(src="./assets/imgs/arrow.svg", alt="Arrow")
        img(src="./assets/imgs/main-img.png", alt="People").first-section__img