header.header 
    div.container
        .header__row
            a(href="index.html")
                img(src="./assets/imgs/logo.svg", alt="Logo").logo__img
            .header__links
                a(href="#").link-header Stores 
                a(href="#").link-header Help & Support
                a(href="#").link-header.link-header--inverse Download
    