section.order-info
    div.container
        img(src="./assets/imgs/phone.svg", alt="phone&food").order-info__img
        .order-info__content
            div.how-to-work
                p.daily Your daily pick-me-up
                h2 How does it work.
                p.food Start choosing your favorite teas and snacks in your nearby stores and place your orders, accumulate points, share gifts and teas with your friends and co-workers, and finally use our T-Pass to get your free drinks.